<% include ../Partial/UserDashBoardHeader %>

<h1> WELCOME  <%= name; %> </h1>

<% include ../Partial/UserDashBoardFooter %>




<!--<a  href="/Logout">Logout</a>
    
    <h1> WELCOME  <%= name; %> </h1> -->